header {
    background-color: #21222A;
    color: #61DAFB;
    padding: 2em 1.7em;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    z-index: 9999;
}

header.light {
    background-color: #FFFFFF;
}

nav {
    display: flex;
    align-items: center;
    gap: .42em;
}

.logo-img {
    width: 1.75em;
    color: #00D8FF;
}

.logo-text {
    font-size: 1.4rem;
    font-weight: 700;
}

/* Toggler */

.toggler {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 6px;
}

.toggler p {
    font-size: 0.625rem;
    font-weight: 600;
}

.toggler .light-text {
    color: #616060;
}

.light .toggler .light-text {
    color: #2B283A;
}

.toggler .dark-text {
    color: #F5F5F5;
}

.light .toggler .dark-text {
    color: #c9c9c9;
}

.toggler-slider {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #F5F5F5;
    width: 28px;
    height: 16px;
    border-radius: 2em;
    border: 1px solid #FFFFFF;
    box-sizing: content-box;
}

.light .toggler-slider {
    justify-content: flex-start;
    background-color: #2B283A;
    border: 1px solid #2B283A;
}

.toggler-slider-circle {
    width: 15px;
    height: 16px;
    border-radius: 50%;
    background-color: #2B283A;
}

.light .toggler-slider-circle {
    background-color: #FFFFFF;
}

/* MAIN */
main {
    background-color: #21222A;
    color: #FFFFFF;
    padding: 3.6em 1.7em;
    flex: 1;
    z-index: 1;
    background-image: url('/Group.png');
    background-position: right center;
    background-repeat: no-repeat;
}

main.light {
    background-color: #FFFFFF;
    background-image: url('/react-icon-light.png');
    color: #2B283A;
}

.list-title {
    font-size: 2.44rem;
    font-weight: 700;
    margin-bottom: 40px;
    letter-spacing: -0.05em;
}

ul.main-list {
    margin-left: 20px;
    max-width: 90%;
}

.main-list li {
    margin-bottom: 1em;
    line-height: 1.25;
}

.main-list li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}
